@{
    var tags = ViewData["tagsArray"] as List<TagData>;

}
<style>
table{
font-family: sans-serif;
}
td{padding: 0.4em;}
thead{border-bottom: 1px solid rgba(0,0,0,0.5);margin-bottom: 2em;}
tr{border-bottom: 1px solid rgba(0,0,0,0.1);}

</style>
<table>
    <thead><tr><th>Name</th><th>Popularity</th><th>Share</th></tr></thead>
    <tbody>
    @foreach (var tag in tags)
    {
        <tr><td>@tag.name</td><td>@tag.count</td><td>@Math.Round(tag.count/Convert.ToDouble(ViewData["allUses"])*100.0,2)%</td></tr>
    }
    </tbody>
</table>